{% extends 'base.html' %}
{% load filters %}

{% block title %}Kassenbuch{% endblock %}

{% block content %}
<div class="card spacer-b">
    <h2 class="card-header">
        Verwaltung
        <div class="input-group w-auto float-lg-right spacer-t-md">
            <div class="input-group-prepend">
                <span class="input-group-text">Kassenstand</span>
            </div>
            <input
                type="number"
                value="{{ balance }}"
                class="form-control text-right"
                readonly
            >
            <div class="input-group-append">
                <span class="input-group-text">€</span>
            </div>
        </div>
    </h2>
    <div class="card-body">
        <form
            method="post"
            class="row"
        >
            {% csrf_token %}

            <div class="input-group col-lg-5 spacer-b-md">
                <div class="input-group-prepend">
                    <span class="input-group-text">Einlage / Entnahme</span>
                </div>
                {{ cashbook_form.update }}
                <div class="input-group-append">
                    <span class="input-group-text">€</span>
                </div>
            </div>
            <div class="input-group col-lg-5 spacer-b-md">
                <div class="input-group-prepend">
                    <span class="input-group-text">Kommentar</span>
                </div>
                {{ cashbook_form.comment }}
            </div>
            <div class="input-group col-lg-2">
                <button
                    type="submit"
                    name="change"
                    class="btn btn-block btn-primary"
                >
                    Buchen
                </button>
            </div>
        </form>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h2 class="spacer-b">Kassenbuch</h2>
        <form method="post">
            {% csrf_token %}

            <div class="row">
                <div class="col-lg-6 spacer-b-md">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Vom</span>
                        </div>
                        {{ cashbook_form.start }}
                        <div class="input-group-prepend">
                            <span class="input-group-text border-left-0">bis zum</span>
                        </div>
                        {{ cashbook_form.end }}
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-2">
                    <div class="row">
                        <div class="col-6">
                            <button
                                type="submit"
                                name="refresh"
                                class="btn btn-primary btn-block"
                            >
                                Aktualisieren
                            </button>
                        </div>
                        <div class="col-6">
                            <button
                                type="submit"
                                name="csv"
                                class="btn btn-primary btn-block"
                            >
                                CSV-Export
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body table-responsive">
        <table class="table table-xsm mb-0 table-fixed text-nowrap">
            <tr>
                <th>Zeitpunkt</th>
                <th>Benutzername</th>
                <th class="text-right">Kassenstand</th>
                <th>Beschreibung</th>
            </tr>
            {% for cash_book_entry in cashbook %}
            {% if cash_book_entry.3 == 'Kassenbeginn' or cash_book_entry.3 == 'Kassenschluss' or cash_book_entry.3 == 'Zwischenstand' %}
            <tr class="table-secondary">
                <th>{{ cash_book_entry.0 }}</th>
                <th>{{ cash_book_entry.1|username_from_id }}</th>
                <th class="text-right">{{ cash_book_entry.2 }} €</th>
                <th>{{ cash_book_entry.3 }}</th>
            </tr>
            {% elif cash_book_entry.3 == 'Korrektur' %}
            <tr class="table-danger">
                <td>{{ cash_book_entry.0 }}</td>
                <td>{{ cash_book_entry.1|username_from_id }}</td>
                <td class="text-right">{{ cash_book_entry.2 }} €</td>
                <td>{{ cash_book_entry.3 }}</td>
            </tr>
            {% elif 'Einlage' in cash_book_entry.3 or 'Entnahme' in cash_book_entry.3 %}
            <tr class="table-success">
                <td>{{ cash_book_entry.0 }}</td>
                <td>{{ cash_book_entry.1|username_from_id }}</td>
                <td class="text-right">{{ cash_book_entry.2 }} €</td>
                <td>{{ cash_book_entry.3 }}</td>
            </tr>
            {% else %}
            <tr>
                <td>{{ cash_book_entry.0 }}</td>
                <td>{{ cash_book_entry.1|username_from_id }}</td>
                <td class="text-right">{{ cash_book_entry.2 }} €</td>
                <td>{{ cash_book_entry.3 }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
