{% extends 'base.html' %}
{% load filters bootstrap %}

{% block title %}Verkaufschichten{% endblock %}

{% block extrascript %}
<script>
    $(window).on('load', () => {
        $('#{{ form.semester.id_for_label }}').on('change', () => {
            $(this).parent().submit()
        });
    });

</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="mx-auto col-lg-8">
        <div class="card">
            <h2 class="card-header">
                Deine Verkaufsschichten
                <form
                    method="post"
                    enctype="multipart/form-data"
                    class="float-lg-right d-flex spacer-t-md"
                >
                    {% csrf_token %}
                    {{ form.semester }}
                </form>
            </h2>
            <div class="card-body">
                {% if shifts %}
                <table class="table table-xsm mb-0">
                    <thead>
                        <tr>
                            <th>Zeitraum</th>
                            <th class="text-center">Bestätigt</th>
                            <th class="text-center">Getänke</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for shift in shifts %}
                        <tr>
                            <td>{{ shift }}</td>
                            <td class="text-center">
                                {% if shift.valid %}
                                <i class="fa fa-check"></i>
                                {% else %}
                                <i class="fa fa-times"></i>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if shift.payout %}
                                <i class="fa fa-check"></i>
                                {% else %}
                                <i class="fa fa-times"></i>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% for shift in shifts %}

                {% endfor %}
                {% else %}
                Du hattest noch keine Verkaufsschichten.
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
