{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}Verwaltung{% endblock %}

{% block extrascript %}
<script>
    function getDropdown(select) {
        // dropdown-items from options
        let options = [];
        $(select).find('option').each(() => {
            options.push('<a class="dropdown-item" data-value="' + $(this).val() + '">' + $(this).text() + '</a>');
        });

        // search-field if more than 5 options
        let search = [];
        if ($(select).find('option').length > 5) {
            search = [
                '<div class="dropdown-header pt-0 pb-0">',
                '<div class="input-group">',
                '<div class="input-group-prepend">',
                '<div class="input-group-text"><i class="fas fa-search"></i></div>',
                '</div>',
                '<input class="form-control form-control-sm" id="search-' + select.id + '" type="text" placeholder="Suchen">',
                '</div>',
                '</div>',
                '<div class="dropdown-divider"></div>'
            ]
        }

        // dropdown-menu with options and search-field
        const dropdown = [
            '<div class="dropdown">',
            '<div class="custom-select" id="dropdown-' + select.id + '" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">',
            $(select).find('option:selected').text(),
            '</div>',
            '<div class="dropdown-menu w-100" aria-labelledby="dropdown-' + select.id + '">',
            search.join('\n'),
            '<div style="max-height: 10rem; overflow-y: scroll;">',
            options.join('\n'),
            '</div>',
            '</div>',
            '</div>'
        ].join('\n');

        return dropdown
    }

    // custom select-fields with search option
    $(window).on('load', () => {
        // hide default select-fields
        $('.custom-select').hide();

        // add custom select-field
        $('.custom-select').after(() => {
            return getDropdown(this);
        });

        // focus input on dropdown
        $('.custom-select').on('click', (event) => {
            setTimeout(() => {
                $(event.target).parent().find('.dropdown-menu input').focus();
            });
        });

        // toggle items on search
        $('[id^="search-"]').on('keyup', (event) => {
            const value = $(this).val().toLowerCase();

            $(this).parent().parent().parent().find('.dropdown-item').filter(() => {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        // select option on select
        $('.dropdown-item').on('click', () => {
            $('#' + $(this).parent().parent().attr('aria-labelledby').replace('dropdown-', '')).val($(this).data('value'));
            $(this).parent().parent().parent().find('.custom-select').text($(this).text());
        });
    });

    // update label of file-upload-field after file has been selected
    $(window).on('load', () => {
        const fileField = $('input[type="file"]');

        fileField.on('change', (event) => {
            const fileName = event.target.files[0].name;
            const fileLabel = $('label.custom-file-label[for=' + event.target.id + ']');
            fileLabel.text(fileName);
        });
    });

</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="mx-auto col-lg-7">
        <div class="card">
            <h2 class="card-header">
                {{ verbose_name }}{% if mode == 'create' %} hinzufügen{% elif mode == 'update' %} bearbeiten{% endif %}
            </h2>
            <form
                method="post"
                enctype="multipart/form-data"
                class="list-group list-group-flush"
            >
                {% csrf_token %}

                {% if form.non_field_errors %}
                <formset class="list-group-item">
                    {% bootstrap_nonfielderrors form %}
                </formset>
                {% endif %}

                {% for fieldset in fieldsets %}
                <formset
                    class="list-group-item"
                    {% if not fieldset.legend %}style="margin-top: 1rem;"
                    {% endif %}
                >
                    {% if fieldset.legend %}
                    <legend>{{ fieldset.legend }}</legend>
                    {% endif %}

                    {% for field in fieldset.fields %}
                    {% for form_field in form %}
                    {% if form_field.name == field %}
                    {% bootstrap_horizontalfield form_field %}
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </formset>
                {% endfor %}

                <formset class="list-group-item">
                    <div class="row">
                        <div class="col-2">
                            <a
                                href="{{ abort_url }}"
                                class="btn btn-primary btn-block"
                                role="button"
                            >
                                <i class="fas fa-chevron-left"></i>
                            </a>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-6">
                            <button
                                class="btn btn-success btn-block"
                                type="submit"
                            >
                                <i class="fas fa-save"></i>
                            </button>
                        </div>
                        {% if delete_url %}
                        <div class="col-1"></div>
                        <div class="col-2">
                            <a
                                href="{{ delete_url }}"
                                class="btn btn-danger btn-block"
                                role="button"
                            >
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </formset>
            </form>
        </div>
    </div>
</div>
{% endblock %}
